@use '@angular/material' as mat;
@use '../../cit-abby-theme.scss' as theme;
@include mat.core();

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.accent-color:hover {
  background: theme.$dark-accent2 !important;
}

.accent-color {
  background: theme.$dark-accent !important;
}

.mat-tooltip.dark-bg-tooltip {
  background-color: theme.$dark-background !important;
}

