//@use '@angular/material' as mat;
////@use '../../../resume/custom-theme' as theme;
//@include mat.core();
//
////.example-accordion {
////  display: block;
////  background-color: theme.$dark-background;
////  color: theme.$light-text
////}
//
////.example-accordion-item {
////  display: block;
////  border: solid 1px theme.$light-accent-text;
////}
//
//.example-accordion-item + .example-accordion-item {
//  border-top: none;
//}
//
//.example-accordion-item-header {
//  display: flex;
//  align-content: center;
//  justify-content: space-between;
//  background-color: theme.$mat-primary#main;
//}
//
////.example-accordion-item-description {
////  font-size: 0.85em;
////  color: theme.$light-accent-text;
////}
//
//.example-accordion-item-header,
//.example-accordion-item-body {
//  padding: 16px;
//}
//
////.example-accordion-item-header:hover {
////  cursor: pointer;
////  background-color: theme.$light-background;
////  color: theme.$dark-text;
////}
//
////.example-accordion-item-header:hover > .example-accordion-item-description {
////  cursor: pointer;
////  background-color: theme.$light-background;
////  color: theme.$dark-accent-text;
////}
//
//.example-accordion-item:first-child {
//  border-top-left-radius: 4px;
//  border-top-right-radius: 4px;
//}
//
//.example-accordion-item:last-child {
//  border-bottom-left-radius: 4px;
//  border-bottom-right-radius: 4px;
//}

.whole-page {
  padding-right: 10%;
  padding-left: 10%;
}

@media screen and (max-width: 950px) {
  .whole-page {
    padding-right: 0;
    padding-left: 0;
  }

}
