@use '@angular/material' as mat;
@use 'cit-abby-theme.scss' as theme;
@include mat.core();
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background:  theme.$dark-bg-lighter-10}


.opacity {
  background-color: theme.$dark-background;
  opacity: .97 !important;
}

.dark-bg-tooltip {
  background: theme.$dark-background !important;
}
